.contenedor{
    position: relative;
    border-radius: 15px;
    min-height: 250px;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
}

.pokemon-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
  }

  .pokemon-img img{
    width: 80%;
  }

 .contenedor:hover img{
  animation-play-state:running;
  animation-fill-mode: forwards;
    animation: temblar .5s;
  }

  @keyframes temblar {
    0% {
       transform: rotate(0deg);
      }
    20% {
        transform: rotate(20deg);
       }
    40% {
        transform: rotate(-20deg);
       }
      60% {
        transform: rotate(20deg);
       }
       80% {
        transform: rotate(-20deg);
       }
      100% {
        transform: rotate(0deg);
       }
  }

.preloader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(51, 51, 51) 0px, rgba(90, 90, 90, 0.9) 40px, rgb(51, 51, 51) 80px );
  background-size: 200%;
  background-position: 100% 0;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  to {
      background-position: -100% 0;
    }
}

.tipos{
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.tipos span{
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 2px 5px;
  font-weight: bold;
}

.normal{background-color:#A8A77A } 
.fire {background-color:#EE8130 } 
.water {background-color: #6390F0}
.electric{background-color: #F7D02C}
.grass {background-color: #7AC74C}
.ice {background-color: #96D9D6}
.fighting {background-color: #C22E28}
.poison {background-color: #A33EA1}
.ground {background-color: #E2BF65}
.flying {background-color: #A98FF3}
.psychic {background-color: #F95587}
.bug {background-color: #A6B91A}
.rock {background-color: #B6A136}
.ghost {background-color: #735797}
.dragon{background-color: #6F35FC}
.dark  {background-color: #705746}
.steel {background-color: #B7B7CE}
.fairy {background-color: #D685AD}

.loadingContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: white;

  animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}

.star {
  visibility:hidden;
  font-size:30px;
  height: 30px;
  width: 30px;
  cursor:pointer;
}
.star:before {
 content: "✨";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "✖";
 position: absolute;
}