<app-navbar (filtrar)="searchPokemon($event)"></app-navbar>
<main class="font-mono">
  <div class="contenedor"  infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="onScroll()">
    <div *ngIf="pokemonsFiltrados.length > 0; else sinResultados">
      <h1 class="text-3xl mb-8">Pokedex en angular</h1>
      <div class="pokemons">
        <app-tarjeta [datos]="pokemon.name" *ngFor="let pokemon of pokemonsFiltrados"></app-tarjeta>
      </div>
    </div>
  </div>
</main>

<ng-template #sinResultados>
  <h1 style="text-align: center;">No hay pokemons que mostrar</h1>
</ng-template>